﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Voorraadbeheer</h1>
    <p class="lead">Beheer je voorraad hier via een webbrowser.</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>onsectetur adipiscing</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat efficitur venenatis. Duis posuere mauris felis, eget mollis est vestibulum id. Nulla lacus turpis, bibendum consectetur lectus nec, gravida facilisis eros. Integer mattis enim et purus vehicula, et gravida arcu ultricies. Pellentesque rutrum fringilla ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce erat lorem, aliquet a massa sed, posuere fermentum ligula. Pellentesque cursus aliquam ultricies. Maecenas facilisis consectetur arcu, quis imperdiet dui elementum vel. Praesent quis facilisis elit, sit amet bibendum leo. Donec id orci id turpis condimentum suscipit. Integer sit amet velit ut dolor sollicitudin fermentum sit amet ac augue. Etiam eget elit tincidunt, commodo lacus non, varius erat. Praesent varius, tellus in hendrerit luctus, lorem ligula porta nunc, eu euismod nunc lorem sed sem. Aliquam mollis urna ut augue gravida, in scelerisque diam suscipit. .
        </p>
    </div>
    <div class="col-md-4">
        <h2>porttitor Nulla</h2>
        <p>Nullam at elementum felis, ac euismod mi. Proin vulputate bibendum eros, eget fermentum massa semper quis. Maecenas euismod lacinia tempor. Praesent sagittis turpis eu odio tincidunt, eget pulvinar lacus vestibulum. Donec finibus lobortis nulla ut suscipit. Suspendisse nibh ex, malesuada sed tellus eu, tincidunt luctus tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse facilisis risus consequat quam ornare, vitae ornare ante mollis. Phasellus ex mi, molestie id dictum vel, faucibus et diam. Maecenas mollis facilisis consequat.</p>
    </div>
    <div class="col-md-4">
        <h2>mod mi</h2>
        <p>Proin at elit eu ligula dictum porttitor. Nulla imperdiet, dolor in convallis tincidunt, justo mauris efficitur metus, ac iaculis enim risus sit amet mauris. Sed pretium suscipit felis, sed placerat leo aliquam vitae. Fusce non nunc ultricies purus interdum tincidunt. Nunc ut orci sit amet velit interdum facilisis. Nunc magna dui, sollicitudin quis gravida ut, gravida sit amet odio. Curabitur dictum malesuada ante, a convallis mauris congue ut. Nulla a lacus gravida felis pellentesque finibus in sed libero. Duis at urna leo. Cras efficitur urna lacus, ut elementum justo ultrices eu. Nullam pellentesque, tortor tincidunt viverra sagittis, lacus dui iaculis erat, at porta purus dui nec erat. Suspendisse commodo venenatis felis nec facilisis. </p>
    </div>
</div>