﻿@model IEnumerable<MVCVoorraad.Models.Component>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    
        @using (Html.BeginForm())
        {
            <p>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Vind volgens naam:
                        </div>
                        <div class="col-lg-2">@Html.TextBox("SearchString", null, new { @class = "form-control" })  </div>

                        <div class="col-lg-1">
                            <input type="submit" value="Zoek" class="btn btn-primary"/>
                        </div>
                        <div class="col-lg-2">
                            <a href="@Url.Action("Index", "Components")" class="btn btn-primary">Reset</a>
                        </div>
                    </div>
                </div>
            </p>
        }
  



<table class="table table-striped">

    <tr class="active">
        <th>
            @Html.ActionLink("Categorie", "Index", new { sortOrder = ViewBag.CategorySortParm })
            @*@Html.DisplayNameFor(model => model.Categorie.Naam)*@
        </th>
        <th>
            @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NameSortParm })


            @*@Html.DisplayNameFor(model => model.Naam)*@
        </th>
        <th>
            @Html.ActionLink("Datasheet", "Index", new { sortOrder = ViewBag.DatasheetSortParm })


            @*@Html.DisplayNameFor(model => model.Datasheet)*@
        </th>
        <th>
            @Html.ActionLink("Aantal", "Index", new { sortOrder = ViewBag.CountSortParm })
            @*@Html.DisplayNameFor(model => model.Aantal)*@
        </th>
        <th>
            @Html.ActionLink("Aankoopprijs", "Index", new { sortOrder = ViewBag.OrderPriceSortParm })
            @*@Html.DisplayNameFor(model => model.Aankoopprijs)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Categorie.Naam, "index", new { selectedCategory = item.Categorie.Naam })
            @*@Html.DisplayFor(modelItem => item.Categorie.Naam)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datasheet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aantal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aankoopprijs)
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
